.spacer{
    min-height: 12vh;
}
.container{
    min-height: 88vh;
    margin:0 18%;
    
}
.upper-part{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img{
    flex-basis: 50%;
    /* border-radius: 50%; */
}
.info{
    flex-basis: 40%;
}
.profile-img img{
    /* flex-basis: 50%; */
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}

.profile-videos{
    display: flex;
    flex-wrap: wrap;
}
.profile-videos video{
    padding:2rem 1rem;
}