.signupwrapper{
    display: flex;
    justify-content: center;
}

.signupcard{
    width:27vw;
    margin-top:5%;
}
.insta-logo{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top:3%;
}

.insta-logo img{
    width: 15vw;
}

@media only screen and (max-width:620px) {
    .insta-logo img{
        width: 35%;
    }
    .signupcard{
        width: 60%;
    }
}